Repository thomasthaddeus/ReactVideoServer, changes with the labels that .github/labeler.yml gives for each.
All labels: python, javascript, html, css, documentation, configuration, frontend, backend, tests

[ImgBot] Optimize images
  server/assets/img/section2.jpg
  server/assets/img/section4.jpg
Labels: none

updates
  client/package-lock.json
  client/package.json
  client/src/App.js
  client/src/data/data.js
  client/src/utils/generateManualsData.js
  client/src/utils/package-lock.json
  client/src/utils/package.json
  config-overrides.js
  nodemon.json
  package-lock.json
  package.json
  scripts/data.js
  server/index.js
  server/package-lock.json
  server/package.json
  tree.html
  webpack/webpack.dev.js
  webpack/webpack.main.js
  webpack/webpack.prod.js
Labels: javascript, html

Potential fix for code scanning alert no. 6: Missing rate limiting
  server/index.js
  server/package.json
Labels: javascript

Potential fix for code scanning alert no. 4: Uncontrolled data used in path expression
  server/index.js
Labels: javascript

Potential fix for code scanning alert no. 9: Workflow does not contain permissions
  .github/workflows/dist.yml
Labels: configuration

.github/labeler.yml:

# Example configuration for labeler.yml

# Label for changes in Python files
python:
  - '**/*.py'

# Label for changes in JavaScript files
javascript:
  - '**/*.js'
  - '**/*.jsx'

# Label for changes in HTML files
html:
  - '**/*.html'

# Label for changes in CSS files
css:
  - '**/*.css'
  - '**/*.scss'

# Label for changes in documentation files
documentation:
  - '**/*.md'
  - '**/*.rst'
  - 'docs/**'

# Label for changes in configuration files
configuration:
  - '.github/**'
  - '**/*.yml'
  - '**/*.yaml'

# Label for changes in specific directories
frontend:
  - 'frontend/**'

backend:
  - 'backend/**'

# Label for changes in test files
tests:
  - 'tests/**'
  - '**/test_*.py'
  - '**/*.spec.js'
